// Fontes
$fontPrincipal: Roboto, sans-serif;

// Cores
$corPrimaria: #f5f6fa;
$corDoHeader: #182C61;
$corDoBotao: #44bd32;
$corDoLink: #fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023;
